CompileFlags:
  Add: [-Wall, -std=c11]  # Adjust flags as needed

Diagnostics:
  ClangTidy:
    Add: [performance-*, modernize-*]
    Remove: modernize-use-trailing-return-type

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes

Hover:
  ShowAKA: Yes
